div {
  display: inline;

}
#header {
  text-align: left;
  font-family: Brush Script MT, cursive;
    margin-left: 300px;
}

#pizza-picture  {
  margin-left: 300px;
  width: 50%;

}

h1 {
    margin-left: 300px;
}

h4 {
  color: grey;
    margin-left: 300px;
}

p {
    width: 50%;
    margin-left: 300px;
}

table {
  margin: 10px;
  margin-left: 300px;
  background-image: url(https://github.com/codefellows/seattle-201n8/blob/master/class-10-js_debugging-wireframe_part_2/lab-assets/list-bg.png?raw=true);
  text-align: left;
  width: 50%;
}

#lines  {
    border: 2px silver solid;
    background-color: silver;
}
#footer-picture {
  margin-left: 50%;
}

#share  {
  font-family:
  border: 2px orange solid;
  background-color: orange;
  padding: 10px;
  float: right;
}

#van-pic {
  margin-left: 300px;

}
